.todo-page {
    margin: 5px ;
    display: flex;
    flex-direction: column;
}

.top-panel {
    margin: 10px 0;
}

.server-error {
    text-align: center;
    margin-top: 10px;
    color: indianred;
}